title #{siteTitle}
meta(name='description' content=siteDescription)
meta(name='author' content=author)
//- link(rel='canonical' href='/')
meta(property='og:title' content=siteTitle)
meta(property='og:description' content=siteDescription)
meta(property='og:locale' content='en_US')
meta(property='og:url' content='/')
meta(property='og:site_name' content=siteTitle)
